<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="navbar-left">
          <span>Bookers</span>
        </nav>
            <div class="navbar">
              <% if user_signed_in? %>
                <nav>
                  <ul class="navbar-right">
                    <li class="home">
                      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                      <%= link_to 'Home', user_path(current_user), :style=>"color:#9d9d9d;" %>
                    </li>
                    <li class="users">
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      <%= link_to 'Users', users_path, :style=>"color:#9d9d9d;" %>
                    </li>
                    <li class="books">
                      <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                      <%= link_to 'Books', books_path, :style=>"color:#9d9d9d;" %>
                    </li>
                    <li class="logout">
                      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                      <%= link_to "logout", destroy_user_session_path, method: :delete, :style=>"color:#9d9d9d;" %>
                    </li>
                  </ul>
                </nav>
              <% else %>
                <nav>
                  <ul class="navbar-right">
                    <li class="home">
                      <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                      <%= link_to 'Home', root_path, :style=>"color:#9d9d9d;" %>
                    </li>
                    <li class="about">
                      <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
                      <%= link_to 'About', home_about_path, :style=>"color:#9d9d9d;" %>
                    </li>
                    <li class="signup">
                      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                      <%= link_to 'sign up', new_user_registration_path, :style=>"color:#9d9d9d;" %>
                    </li>
                    <li class="login">
                      <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                      <%= link_to "login", new_user_session_path, :style=>"color:#9d9d9d;" %>
                    </li>
                  </ul>
                </nav>
              <% end %>
            </div>  
      </div>
    </header>

    <%= yield %>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
            <div class="fixed-bottom">
              <p>CopyRight Infratop.inc</p>
            </div>
          </div>
        </div>
      </div>  
    </footer>
  </body>
</html>
