<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container clearfix">
        <nav class="navbar-left">
          <span>Bookers</span>
        </nav>
        <nav>
          <ul class="navbar-right">
            <li class="home">
              <%= link_to 'Home', user_path(current_user.id) %>
            </li>
            <li class="users">
              <%= link_to 'Users', users_path %>
            </li>
            <li class="books">
              <%= link_to 'Books', books_path %>
            </li>
            <li class="logout">
              <%= link_to 'logout', root_path %>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
